html {
  font-family: "Lexend Deca", sans-serif;
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; */
}
#container {
  border: 2rem solid whitesmoke;
}
#sedan-container,
#suv-container,
#luxury-container {
  border: 2rem solid white;
  display: flex;
  flex-direction: column;
  margin: 0;
}
h2,
h3,
h4 {
  text-align: center;
}
#sedan-container {
  background-color: orange;
}
#suv-container {
  background-color: rgb(46, 148, 148);
}
#luxury-container {
  background-color: rgb(52, 108, 81);
}
